BasedOnStyle: LLVM
IndentWidth: 4
TabWidth: 4
UseTab: Never
BreakBeforeBraces: Custom
BraceWrapping:
  AfterClass: true
  AfterFunction: true
  AfterNamespace: true
  BeforeCatch: true
  BeforeElse: true
ConstructorInitializerIndentWidth: 4
SpaceBeforeCtorInitializerColon: true
AllowShortFunctionsOnASingleLine: false
ColumnLimit: 0
PointerAlignment: Left
SpacesBeforeTrailingComments: 2
SortIncludes: false
